<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <style type="text/css">
    	body{
			width:100%;
	}
		footer, #footer{
			width:100%;
		}
		
    </style>
</head>
<body>
<footer>
    <div id="footer" th:fragment="footer">
    <div class="container col-12">
        <div class="row">
            <div class="col-md-3">
                <h4 class="mb-3">Nosotros</h4>
                <p>
                    Texto explicativo
                </p>
            </div>
            <div class="col-md-3">
                <h4 class="mb-3">Menu</h4>
                <ul class="list-unstyled">
                    <li><a href="">Nosotros</a></li>
                    <li><a href="">Servicios</a></li>
                    <li><a href="">Portafolio</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4>Servicios</h4>
                <ul class="list-unstyled">
                    <li><a href="">Nada</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4 class="mb-3">Redes Sociales</h4>
                <div class="social">
                <a href="" target="_blank"><i class=" fa fa-twitterfa-solid fa-envelope"></i></a>
            </div>
        </div>
        </div>
      </div> 
    </div>
</footer>
</body>
</html>