/*Basics with css of body and initials for html*/
:root{
    --clr-neon: #0000ff;
    --clr-bga: #1992fc;
}
body{
    min-height: 100vh;
    width: 100%;
    display: flex;
    background: rgb(123,31,162);
    background: linear-gradient(0deg, rgba(123,31,162,1) 0%, rgba(0,25,53,1) 100%);
    color: #fef9ff;
    overflow-x: hidden;
    overflow-y:scroll;
    font-family: 'Hind Siliguri', sans-serif;
    align-items: center;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

  /* Track */
::-webkit-scrollbar-track {
    background: #3d3d3d; 
}
  /* Handle */
::-webkit-scrollbar-thumb {
    background: linear-gradient(to top, #0c038c, #8d007e, #cd0061, #f3003e, #ff680a);
    transition:all 2s;
    border-radius: 10px;
}
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, #0000ff, #0082ff, #00b5ff, #00deda, #00ff99); 
    transition: all 1.5s;
}
::-webkit-inner-spin-button { display: none; }
::-webkit-calendar-picker-indicator { color: #dde1e4; }

/*Css del login*/
#inicio{
	background: rgba(17, 4, 200, 0.7);
	backdrop-filter: blur(2px);
	padding:2em;
	border-radius: 12px;
	z-index: 0;
	transition: all 0.5s;
}
#inicio:hover{
	background: rgba(17, 4, 200, 0.9);
}
form{
	background: transparent;
	filter:blur(0);
	z-index: 1;
}

/*Css de los registros*/
#registro{
	display:inline;
    width: 60%;
    margin: 10% 01% 20% 01%;
    margin-left: 20%;
    padding: 1%;
}
#registro .titulo h5{
	color:#dde1e4;
}
.button{
	margin-top:1em;
    margin-left: 70%;
    width: 30%;
    display: block;
    text-align: center;
    cursor: pointer;
    color: #fef9ff;
    padding: 0.25em 1em;
    border-radius: 12px;
    position: relative;
    }
#file{
	
    background-color: transparent;
    color: #dde1e4;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}
#file:valid{
	background-color: transparent;
}
#file:focus{
	box-shadow: none;
    background-color: transparent;
    color: #dde1e4;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}
#file:target{
	background-color: transparent;
}
.form-control{
    background-color: transparent;
    border: #dde1e4 solid 0.1em;
    border-radius: 12px;
    color: #dde1e4;
    display: block;
    width: 90%;
}
.form-control:valid{
	background-color: transparent;
}
.form-control:focus{
    box-shadow: none;
    background-color: transparent;
    border: #dde1e4 solid 0.1em;
    border-radius: 12px;
    color: #dde1e4;
    display: block;
    width: 90%;
}
.form-control:target{
	background-color: transparent;
}
option, select{
	background-color: #611d8b;
	color:#dde1e4;
}
option:target, select:target{
	background-color: #0000ff;
}
option:hover{
	background-color: #0000ff;
}
select:hover{
	background-color: #0000ff;
}
.custom-file-upload {
	border: #dde1e4 solid 0.1em;
    border-radius: 12px;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    margin-left: 10px;
}
input[type="file"] {
    display: none;
}
button{
    margin-top:1em;
    margin-left: 70%;
    width: 30%;
        display: block;
        text-align: center;
        cursor: pointer;
        color: #fef9ff;
        padding: 0.25em 1em;
        border-radius: 12px;
        position: relative;
    border: none;
    background-color: transparent;
        }
.button a{
	text-decoration:none;
	color:#dde1e4
}
a{
	
	text-decoration:none;
	color:#dde1e4
}
/*Alert e index*/
.alert{
	background-color: #dde1e4;
	color: #0000ff;
	display:flex;
	font-weight:400;
	justify-content:center;
	align-content:center;
	height: max-content;
	width:max-content;
	border-radius: 0px;
}
/* Css de la barra de navegacion*/
a:hover{
    color: #dde1e4;
}
.button:hover{
	border-bottom: #dde1e4 0.125em solid;
	transition:all 0.2s;
}
.navbar .nav-link{
    color: #dde1e4;
    margin-right: 29px;
    transition: 0.2s;
}
a.nav-link:hover{
    padding-bottom: 3px;
    border-bottom: 2px solid #dde1e4;
}
.navbar-fixed{
    background: rgb(123,31,162);
    background: linear-gradient(0deg, rgba(123,31,162,1) 0%, rgba(0,25,53,1) 100%);
    padding-top: 0;
    padding-bottom: 0;
    transition: all 0.6s;
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
}
.navbar-toggler{
    padding: .01rem .05rem;
    border: 1px solid white;
    border-radius: 25px;
}
.navbar-toggler:focus{
    outline: none;
    box-shadow: none;
}
.navbar-toggler i.bi-list{
    color: #dde1e4;
    font-size: 1.6rem;
    margin: none;
}
.navbar-fixed .btn-custom{
        margin-top: 2em;
}
.navbar-fixed .btn-custom:hover{
	
	background:#0c038c;
	border: 1.5px solid #0c038c;
}
@media(max-width: 992px){
    .navbar-collapse{
        padding-bottom: 19px;
    }
    .peliculas{
        padding-top: 16rem;
    }
    .btn-custom{
	margin-top:1em;
	margin-bottom: 4px;
	}
    .btn-custom:hover{
	background:#0c038c;
	border: 1.5px solid #0c038c;
	}
	a.nav-link:hover{
	margin-bottom: 4px;
    padding-bottom: 8px;
    border-bottom: 0px solid #ffff;
    padding-left: 3px;
    border-left: 2px solid #dde1e4;
	}
}
.btn-custom{
    text-decoration: none;
    border: 1.5px solid #dde1e4;
    border-radius: 50px;
    background: none;
    padding:  8px 20px;
    font-weight: 500;
    transition: all 0.6s;
    color: #dde1e4;
    margin-bottom: 4px;
    }
    .btn-custom:hover{
        background: #611d8b;
        border: 1.5px solid #611d8b;
        color: #dde1e4;
    }
.slide-container{
    margin-left: 0;
    width: 100%;
    height: 90vh;
    align-items: center;
    overflow: hidden;
}
.image-slider{
    width: 100%;
    height: 600px;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .7s;
}
.slide-div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 30px 0 30px;
}
.img{
    position: relative;
    width: 240px;
    height: 370px;
    transition: all .5s;
    border-radius: 12px;
}
.boton{
    position: absolute;
    width: 20em;
    margin: 0;
    height: 23.125em;
    transition: all .5s;
}
.boton:hover{
    background-color: rgba(0, 0, 0, .1);
    border-radius: 12px;
}
.botoncito{
    left: 20px;
    margin-top: 30rem;
    align-items: center;
    display:none;
    justify-content: center;
    border-bottom: #dde1e4;
    transition: all 1s;
}
.botoncito:hover{
	display:none;
	width: 0;
	height: 0;
	margin: 0;
	left: 0;
	cursor:none;
}
#slider-span1:target ~ .image-slider #botoncito-1{
    color: #dde1e4;
    display: flex;
}
#slider-span1:target ~ .image-slider #botoncito-1:hover{
    border-bottom: 1em solid #dde1e4;
    border-radius: 12px;
}
#slider-span2:target ~ .image-slider #botoncito-2{
    color: #dde1e4;
    display: flex;
}
#slider-span1:target ~ .image-slider #botoncito-2:hover{
    border-bottom: 1em solid #dde1e4;
    border-radius: 12px;
}
#slider-span3:target ~ .image-slider #botoncito-3{
    color: #dde1e4;
    display: flex;
}
#slider-span1:target ~ .image-slider #botoncito-3:hover{
    border-bottom: 1em solid #dde1e4;
    border-radius: 12px;
}
#slider-span4:target ~ .image-slider #botoncito-4{
    color: #dde1e4;
    display: flex;
}
#slider-span1:target ~ .image-slider #botoncito-4:hover{
    border-bottom: 1em solid #dde1e4;
    border-radius: 12px;
}
#slider-span5:target ~ .image-slider #botoncito-5{
    color: #dde1e4;
    display: flex;
}
#slider-span1:target ~ .image-slider #botoncito-5:hover{
    border-bottom: 1em solid #dde1e4;
    border-radius: 12px;
}
#slider-span6:target ~ .image-slider #botoncito-6{
    color: #dde1e4;
    display: flex;
}
#slider-span1:target ~ .image-slider #botoncito-6:hover{
    border-bottom: 1em #dde1e4;
    border-radius: 12px;
}
#slider-span7:target ~ .image-slider #botoncito-7{
    color: #dde1e4;
    display: flex;
}
#slider-span1:target ~ .image-slider #botoncito-7:hover{
    border-bottom: 1em solid #dde1e4;
    border-radius: 12px;
}
#slider-span1:target ~ .image-slider #img1,
#slider-span1:target ~ .image-slider #button-1{
    width: 380px;
    height: 585px;
    background-color: transparent;
    filter: saturate(100%)
}
#slider-span2:target ~ .image-slider #img2,
#slider-span2:target ~ .image-slider #button-2{
    width: 380px;
    height: 585px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span3:target ~ .image-slider #img3,
#slider-span3:target ~ .image-slider #button-3{
    width: 380px;
    height: 585px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span4:target ~ .image-slider #img4,
#slider-span4:target ~ .image-slider #button-4{
    width: 380px;
    height: 585px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span5:target ~ .image-slider #img5,
#slider-span5:target ~ .image-slider #button-5{
    width: 380px;
    height: 585px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span6:target ~ .image-slider #img6,
#slider-span6:target ~ .image-slider #button-6{
    width: 380px;
    height: 585px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span7:target ~ .image-slider #img7,
#slider-span7:target ~ .image-slider #button-7{
    width: 380px;
    height: 585px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span1:target ~ .image-slider{left: 60%;}
#slider-span2:target ~ .image-slider{left: 50%;}
#slider-span3:target ~ .image-slider{left: 25%;}

#slider-span5:target ~ .image-slider{left: -25%;}
#slider-span6:target ~ .image-slider{left: -50%;}
#slider-span7:target ~ .image-slider{left: -70%;}

/* Style correspondiente a los html de mostrar*/
h2{
	margin-top:2rem;
    display: inline;
}
.contenedor{
	width:100%;
}
.contenedor #tabla{
	width:60%;
	margin:10%;
}
#tabla th,
#tabla td{
    color: #dde1e4;
    padding: 1em;
}
#tabla hr{
    border-color: #dde1e4;
}
.bton {
    width: 100%;
    display: block;
    text-align: center;
    cursor: pointer;
    color: #dde1e4;
    border: #dde1e4 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 12px;
    position: relative;
}
.bton::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em var(--clr-neon);
    opacity: 0;
    border: var(--clr-neon) 0.125em solid;
    background-color: var(--clr-neon);
    border-radius: 9px;
    z-index: -1;
    transition: opacity 100ms linear;
}
.bton:hover,
.bton:focus {
    color: var(--clr-bga);
    border: var(--clr-neon) 0.125em solid;
    text-shadow: none;
}
.bton:hover::before,
.bton:focus::before {
    opacity: 1;
}
.bton:hover::after,
.bton:focus::after {
    opacity: 1;
}
.contenedor .botn{
	margin-top:2rem;
	display: block;
	background-image: linear-gradient(to right, #0c038c, #4905aa, #7807c8, #a607e4, #d600ff);
	padding:2rem 0 2rem 0;
	transition:all 2s;
	
}
.contenedor  .botn span{
	margin-left:2rem;
	color:#dde1e4;
	font-size:1.2rem;
	text-decoration:none;
}
a{
	text-decoration:none;
}
a .botn:hover{
	background-image: linear-gradient(to left, #0c038c, #4905aa, #7807c8, #a607e4, #d600ff);
}
a .botn:hover span{
		color:#dde1e4;
}
.modal-content{
	background-color: #0C038C;
	color:#dde1e4;
}
/* Revisar los estilos del btn-close, probablemente tenga que quitar todo y
cambiarlo por algun icon de bootstrap o font-awesome para poder cambiar el color
.modal-content .btn-close{
	color:#dde1e4;
}
*/
.modal-content .btn{
	background-color: #1dd3b0;
	border: none;
	padding: 2px;
}
.modal-content .btn:hover{
	box-shadow: 15px 9px 12px 0px rgba(29,211,176,0.43);
	-webkit-box-shadow: 15px 9px 12px 0px rgba(29,211,176,0.43);
	-moz-box-shadow: 15px 9px 12px 0px rgba(29,211,176,0.43);
}
/* Footer */
footer{
	width:100%;
}
	#foot{
		width:100%;
	}
#footer{
	padding-left: 2em;
	padding-right: 5em;
	    padding-top: 44px;
    margin-left:0;
    left:0;
    width:100%;
    border-radius:12px;
    border-bottom-right-radius:0px;
    border-bottom-left-radius:0px;
    transition: all 1s;
}
#footer:hover{
	box-shadow: 19px -10px 36px 6px rgba(15,47,212,0.57);
	-webkit-box-shadow: 19px -10px 36px 6px rgba(15,47,212,0.57);
	-moz-box-shadow: 19px -10px 36px 6px rgba(15,47,212,0.57);
	background-color: var(--clr-bga);
    padding-top: 44px;
    width:100%;
}
#footer a{
    text-decoration: none;
    color: #dde1e4;
}
#footer .social{
	    width:100%;
	    transition:all 0.5s;
    width: 35px;
    height: 35px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 5px;
}
#footer:target,
	
	.social:target{
	width:100%;
    border: 2px solid #0000ff;
    width: 35px;
    height: 35px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 5px;
}

#footer .social:hover{
	
    width:100%;
    background: #0000ff;
    width: 35px;
    height: 35px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 5px;
}
#footer .social a{
    color: #dde1e4;
}

/* Comprobante */

.grid{
	display: grid;
	gap:5rem;
	grid-auto-rows:30em;
	grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
}
.ticket{
	margin: 2em;
	background-color: #dde1e4;
	font-size: 12px;
	color:#3d3d3d;
}
.ticket .texto{
	margin:2em;
}
.ticket .texto p{
	font-size: 15px;
}
/*Cards*/
.container .row .col{
	
    display: grid;
	gap:2rem;
	grid-auto-rows:30em;
	grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    color: #212121;
    background: #f1f1f1;
    overflow: hidden;
}
.card h6{
	color:#dde1e4;
    opacity: 0.6;
    letter-spacing: .1rem;
    text-transform: uppercase;
}
.col .card{
	background-color: #001532;
	color:#dde1e4;
	height:80vh;
	width:25em;
	margin-left: 3em;
	margin-top:2em;
	
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px !important;
}
.buton{
	display:block;
	color:#dde1e4;
    background-color: #0000ff;
    border: #0000ff solid 1px;
    border-radius: 20px;
    padding: .3rem;
    float: right;
    margin: .2rem;
    margin-top: 1.5rem;
    transition:all 0.5s;
}

/*#volver{
	margin-top:2em;
	height: 5em;
	margin-bottom: 2em; 
}
#volver span{
	font-size: 1.2em;
	margin-top: 2em;
	vertical-align:middle;
}*/
 #volver{
	margin-top:2rem;
	display: block;
	background-image: linear-gradient(to right, #0c038c, #4905aa, #7807c8, #a607e4, #d600ff);
	padding:2rem 0 2rem 0;
	transition:all 2s;
	
}
#volver span{
	margin-left:2rem;
	color:#dde1e4;
	font-size:1.2rem;
	text-decoration:none;
}
a{
	text-decoration:none;
}
a #volver:hover{
	background-image: linear-gradient(to left, #0c038c, #4905aa, #7807c8, #a607e4, #d600ff);
}
a #volver:hover span{
		color:#dde1e4;
}
.card-image{
	display:flex;
	justify-content: center;
}
.buton:hover{
    color: #f1f1f1;
    background-color: var(--clr-bga);
    border: var(--clr-bga) solid 1px;
    
    box-shadow: rgba(0, 21, 50, 0.16) 0px 3px 6px, rgba(0, 21, 50, 0.23) 0px 3px 6px !important;
}
