<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Cliente</title>
</head>
<body>
    <!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<!--<link th:href="@{webjars/bootstrap/4.5.0/css/bootstrap.min.css}" rel="stylesheet" type="text/css">-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500&family=Seaweed+Script&display=swap" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
<style type="text/css"> 
body{
    overflow: visible;
}
</style>
<meta charset="UTF-8">
<title>index</title>
</head>
<body>
<div class="container" id="registro" th:fragment="inicio">
<div class="titulo">
<h5>Inicio de usuario</h5>
</div>
		<form th:object="${cliente}" th:action="${band}? @{/Modificarcliente} : @{/guardarcliente}" method="post">
		
			<input type="hidden" class="form-control" th:if="${band}" th:field="*{contrasena}">
	        <input type="hidden" class="form-control" th:if="${band}" th:field="*{estado}">
	        <input type="hidden" class="form-control" th:if="${band}" th:field="*{dni}">
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombre" th:field="*{nombre}" value="" required>
                    <div class="alert alert-danger" th:if="${#fields.hasErrors('nombre')}"th:errors="*{nombre}"></div>
            </div>
            
            <div class="mb-3">
                <label for="apellido" class="form-label">Apellido</label>
                <input  type="text" class="form-control" id="apellido" th:field="*{apellido}" required>
                    <div class="alert alert-danger" th:if="${#fields.hasErrors('apellido')}"th:errors="*{apellido}"></div>
            </div>
            <div class="mb-3">
                <label for="dni" class="form-label" th:if="${band==false}">Dni</label>
                <input type="number"
                
              	th:if="${band==false}"
                 class="form-control" id="dni" th:field="*{dni}" required>
        <div class="alert alert-danger" 
        th:if="${#fields.hasErrors('dni')}"th:errors="*{dni}"></div>
            </div>
	  	
		  <div class="mb-3" style="display:inline">
	    		<label for="email" class="form-label">Email</label>
	 	  		 <input type="email" class="form-control" id="email" th:field="*{email}" aria-describedby="emailHelp" required>
	 	         <div class="alert alert-danger" th:if="${#fields.hasErrors('email')}"th:errors="*{email}"></div>
	 	  <div id="emailHelp" class="form-text"></div>
		  </div>
		    <div class="mb-3">
                <label for="FechadeN" class="form-label">Fecha de Nacimiento</label>
                <input  type="date"  class="date form-control" id="FechadeN" th:field="*{FechadeN}" required>
                    <div class="alert alert-danger" th:if="${#fields.hasErrors('FechadeN')}"th:errors="*{FechadeN}"></div>
            </div>
            
		    <div class="mb-3" style="display:inline">
	    		    <label for="contrasena" class="form-label" th:if="${band==false}">Contrasena</label>
	  			    <input type="password" class="form-control"
	  			     
              th:if="${band==false}"
	  			     id="contrasena" th:field="*{contrasena}"   required>
	  	                <div class="alert alert-danger" th:if="${#fields.hasErrors('contrasena')}"th:errors="*{contrasena}"></div>
	  	  </div>
	  	  
<button type="submit" class="button"><span th:text="${band}? 'Modificar' : 'Registrarse' "></span> </button> 
		    <a class="button" th:href="@{/}">Volver</a>
	</form >
</div>
<script type="text/javascript">  
  $('.datepicker').on(
        'dp.show',
        function(e) {
        $(".bootstrap-datetimepicker-widget").css(
        "background-color", "#3c3e43");
        });
</script> 
</body>

</body>
</html>